.title {
    &-small {
      letter-spacing: 0.5rem;
      font-size: 1.7rem;
      border-bottom: 1px solid var(--primary);
    }
  }
  
  .text {
    &-primary {
      color: var(--primary);
    }
    &-hint {
      color: var(--hint);
    }
  }