.mb-5{
margin-bottom: 5rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.gap-10{
    gap: 10px;
}